extend layout

block content
    div(class='all-games')
        each game in game_list
            a(href=game.url)
                div(class='game-card')
                    img(src=game.imgUrl)
                    p.game-name #{game.name}