doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='main-container')
      div(class='side-content')
        h1.side-header HolyNekK Games
        div(class='white-line') 
        div(class='sidebar-nav')
          a(href='/catalog')
            div(class='side-button') HOME
              
          a(href='/catalog/games') 
            div(class='side-button') GAMES
          a(href='/catalog/developers') 
            div(class='side-button') DEVELOPERS
          a(href='/catalog/genres') 
            div(class='side-button') GAME TAGS
            
          hr

          a(href='/catalog/developer/create') 
            div(class='side-button') CREATE NEW DEVELOPER
          a(href='/catalog/genre/create') 
            div(class='side-button') CREATE NEW GENRE 
          a(href='/catalog/game/create') 
            div(class='side-button') CREATE NEW GAME
          a(href='/catalog/gameinstance/create') 
            div(class='side-button') CREATE GAME INSTANCE
            

      div(class='content')
        block content