@font-face{
  font-family: 'main-header';
  src: url('../fonts/Nothing\ Clean.ttf');
}

@font-face{
  font-family: 'side-header';
  src: url('../fonts/roman_font_7.ttf');
}

@font-face{
  font-family: 'side-letter';
  src: url('../fonts/TheStudentsTeacher-Regular.ttf');
}


html{
  margin: 0;
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
  height: 100%;
  width: 100%;
}

.main-container{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.content{
  background-color: rgb(30, 30, 30);
  height: 100%;
  width: 80%;
  background-image: url('https://image.freepik.com/free-vector/black-vector-abstract-background_1340-8573.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.white-line{
  height: 2px;
  width: 80%;
  background-color: white;
}

.update-buttons{
  position: relative;
  left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px; 
  gap: 10px;
}

.update-button-links{
  text-decoration: none;
  color: black;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  width: 110px;
  height: 35px;
}

.update-button-links:hover{
  transform: scale(1.1);
}

.delete-button{
  background-color: lightcoral;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.update-button{
  background-color: lightgreen;
  border-radius: 5px;
}

/*--------------- Side content ---------------*/

.side-content{
  background-color: black;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border-right: 1px solid black;
  overflow-y: scroll;
}

/* Hide scrollbar*/
.side-content::-webkit-scrollbar {
  display: none;
}

.side-content{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.side-header{
  color: white;
  margin-top: 40px;
  font-family: 'side-header';
}

.sidebar-nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.sidebar-nav>a{
  text-decoration: none;
  font-family: monospace;
  width: 100%;
  background-color: rgb(20, 20, 20);
  transition: all 0.2s ease-in-out;
  font-family: 'side-letter';
  font-size: 1.4rem;
}

.sidebar-nav>a:hover{
  transform: scale(1.05);
  background-color: rgb(50, 50, 50);
}

.side-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: white;
  font-weight: 900;
}



/*--------------- Side content ---------------*/

/*--------------- Home Screen ---------------*/

.home{
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home>h1{
  font-size: 8rem;
  margin-bottom: 60px;
  font-family: 'main-header';
}


.home>a:hover{
  text-decoration: none;
}

.see-button{
  height: 4rem;
  width: 16rem;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  font-family: monospace;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;

  text-decoration: none;
  color: white;
}


.see-button:hover{
  transform: scale(1.1);
}
/*--------------- Home Screen ---------------*/

/*--------------- All Games Screen ---------------*/

.all-games{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 30px;
  overflow-y: scroll;
}

.all-games>a{
  text-decoration: none;
}

.game-card{
  height: 425px;
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.game-card:hover{
  transform: scale(1.01);
  box-shadow: 0px 0px 2px 2px white;
}

.game-card>img{
  height: 350px;
  width: 300px;
  border-radius: 10px 10px 0 0;
}

.genre-box{
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(90, 90, 90);
  color: white;
  padding: 1px 5px 1px 5px;
  font-size: 0.7rem;
} 

.genre-section{
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  flex-direction: row;
  justify-content: flex-start;
}

.game-name{
  color: black;
  font-weight: 900;
  font-size: 1.3rem;
  font-family: 'side-letter';
  margin-top: 20px;
}


/*--------------- All Games Screen ---------------*/

/*--------------- All Developers Screen ---------------*/

.dev-content{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.devlist-header{
  width: 100%;
  color: white;
  font-family: monospace;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}

.dev-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.dev-list>a{
  width: 400px;
  height: 200px;
  background-color: white;
  margin: 20px;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 4px solid rgb(50, 50, 50);
}

.dev-img{
  height:180px;
  width: 180px;
  border-radius: 15px;
}

.dev-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
} 

.dev-card>p{
  font-size: 2rem;
  font-weight: 900;
  color: rgb(30, 30, 30);
  position: relative;
  left: 20px;
}

/*--------------- Developers Screen ---------------*/

/*--------------- Developer Detail ---------------*/

.dev-detail{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dev-det-header{
  color: white;
}

.dev-det-content{
  color: white;
  display: flex; 
}

.developer-det-img{
  border-radius: 40px;
  height: 256px;
  width: 256px;
}

.dev-just-info{
  margin-left: 20px;
}

/*--------------- Developer Detail ---------------*/

/*--------------- Single Game ---------------*/

.main-game{
  display: flex;
  flex-direction: column;
  width: 80%;
  color: white
}

.main-game-header{
  position: relative;
  top: 30px;
  left: 30px;
  color: white;
  margin-bottom: 50px;
}

.game-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.single-del{
  margin: 10px auto 0px 150px;
}

.single-game-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.single-game-image>img{
  position: relative;
  left: 30px;
  height: 450px;
  width: 350px;
}

.all-info{
  position: relative;
  left: 60px;
}

.game-info-instances{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 60px;
}

.game-info-instances>a{
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info-instances>a>img{
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.header-edit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

/*--------------- Single Game ---------------*/

/*--------------- Game Instance ---------------*/

.price-tag{
  font-weight: 700;
  font-size: 2rem;
}

/*--------------- Game Instance ---------------*/

/*--------------- Genre List ---------------*/

.genre-main{
  height: 100%;
  width: 100%;
}

.genre-header{
  width: 100%;
  color: white;
}

.genre-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.genre-card{
  height: 270px;
  width: 190px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px;
  font-weight: 700;
}

.genre-card>img{
  height: 190px;
  width: 190px;
  border-radius: 10px 10px 0 0;
  margin-top: -10px;
}

/*--------------- Genre List ---------------*/

.form-center{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formtitle{
  color: white;
  margin-top: 20px;
}

.form-group{
  width: 450px;
  color: white;
}

.edit-image{
  margin-left: 10px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  transition: all 0.1s ease-in-out;
}

.edit-image:hover{
  transform: scale(1.2);
}

.form-center{
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

/*--------------- Respnsive Design ---------------*/

 /* @media(max-width: 1100px){
  .side-content{
    background-color: blue;
  }
  .sidebar-nav{
    gap: 5px;
  }
  .side-header{
    margin-top: 10px;
  }
} */

/* Mobile Devices */

/* @media(max-width: 600px){
  .main-container{
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .content{
    width: 100%;
    height: auto;
  }
  .side-content{
    background-color: red;
    width: 100%;
    height: 500px;
    gap: 5px;
    border-right: none;
    overflow-y: auto;
  }
  .sidebar-nav{
    gap: 5px;
  }
  .side-header{
    margin-top: 10px;
  }
}  */

/*--------------- Respnsive Design ---------------*/

